/* Header Styles */
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 120px;
  border-bottom: solid 1px rgb(222, 219, 219);
  margin: 0 20px;
}

/* Left Side Styles */
.header__left-side {
  display: flex;
  align-items: center;
}

.header__service {
  font-size: 25px;
  font-weight: 400;
  padding-right: 5px;
}

.header__number {
  background-color: rgb(245, 180, 0);
  border-radius: 30%;
  padding: 1px 5px;
  color: #ffff;
}

/* Right Side Styles */
.header__right-side {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
}

.header__icon-container {
  display: flex;
  margin-left: 10px;
  gap: 2px;
}

/* Button Styles */
.header__list-view,
.header__center,
.header__icon,
.header__zoom-dropdown,
.header__icon--minus,
.header__icon--plus {
  background-color: rgb(70, 6, 233);
  border-radius: 3px;
  padding: 10px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border: none;
}

/* Button Hover Effect */
.header__icon-container button:hover {
  background-color: #ddd;
}

/* Center Button and Icons Styles */
.header__center,
.header__icon,
.header__zoom-dropdown {
  background-color: white;
  color: #94a3b8;
}

/* Zoom Dropdown Styles */
.header__zoom-dropdown {
  position: relative;
}

/* Dropdown Open Styles */
.header__zoom-dropdown.header__zoom-dropdown--open {
  display: block;
}

.header__dropdown-content {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.header__dropdown-content div {
  cursor: pointer;
  padding: 5px 10px;
  cursor: pointer;
}
