
  /* Also, to ensure the <a> tag doesn't take the full width, reset its display property */
  .tree li a {
    display: inline-block;
  }
  

.tree ul {
  padding-top: 20px;
  position: relative;

  transition: all 0.5s;
}

.tree li {
  float: left;
  text-align: center;
  list-style-type: none;
  position: relative;
  padding: 20px 5px 0 5px;
  transition: all 0.5s;
}

.tree li a {
  border: 1px solid #ccc;
  padding: 5px 10px;
  text-decoration: none;
  color: #666;
  font-family: arial, verdana, tahoma;
  font-size: 11px;
  display: inline-block;
  margin-right: 6px;
  border-radius: 5px;
  transition: all 0.5s;
}

